.dc-l-part {
  min-height: 50px;
  position: relative;
}

.dc-l-part:empty.dc-l-part--message::before {
  content: "请放置区块";
  position: absolute;
  left: 0;
  right: 0;
  border: 1px dashed gray;
  text-align: center;
}
section ~ .dc-l-part__message {
  display: none;
}
