.dc-l-part {
  min-height: 100px;
  position: relative;
}

.dc-l-part:empty.dc-l-part—message::before {
  content: "请放置区块";
  position: absolute;
  left: 0;
  right: 0;
  line-height: 100px;
  border: 1px dashed gray;
  text-align: center;
}
/* snippet options */
.bar-body-red {
  color: red;
}
.bar-body-green {
  color: green;
}
